<!DOCTYPE html>
<html>
<head>
    <title>Query Results</title>
</head>
<body>
    <h1>Query Results</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Liters</th>
            <th>Total Dollar</th>
            <th>Vehicle</th>
            <th>Odometer</th>
            <th>Fuel Card</th>
            <th>Payment Method</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
